{% apply inline_css(source('@styles/email.css')) %}
    <html lang="cs">
    <body>

    <h1 class="admin-h1">Objednávka č. {{ order_id }}</h1>

        {% if not place.isDelivery %}
            <h3>Osobní odběr: <strong>{{ place.name }}</strong></h3>
        {% else %}
            <h3>
                Rozvoz <small>({{ place.isOwnDelivery ? 'Náš rozvoz' : 'CoolBalík' }}) na adresu:</small>
                <br><strong>{{ delivery_address.street }}, {{ delivery_address.city }} {{ delivery_address.postalCode }}</strong>
                {% if show_prices %}
                    <br>
                    <small><strong>
                        {% if order_data.payByCard %}
                            Platba kartou při předávce
                        {% else %}
                            Platba hotově při předávce
                        {% endif %}
                    </strong></small>
                {% endif %}
            </h3>
        {% endif %}

        <h3>
            Datum: <strong>{{ date_to|dayOfWeek }} - {{ date_to.format('d.m.Y') }}</strong>
        </h3>

        <p>
            <strong>Jméno a příjmení:</strong>
            {{ order_data.name }}<br>

            {% if company_billing_info and company_billing_info.companyName %}
                <strong>Společnost:</strong>
                {{ company_billing_info.companyName }}

                {% if company_billing_info.companyId %}
                    <br><strong>IČ:</strong>
                    {{ company_billing_info.companyId }}
                {% endif %}

                {% if company_billing_info.companyVatId %}
                    <br><strong>DIČ:</strong>
                    {{ company_billing_info.companyVatId }}
                {% endif %}
                <br>
            {% endif %}

            {% if company_billing_info and company_billing_info.address %}
                <strong>Fakturační adresa:</strong>
                {{ company_billing_info.address.street }}, {{ company_billing_info.address.city }} {{ company_billing_info.address.postalCode }},
                <br>
            {% endif %}

            <strong>E-mail:</strong>
            {{ order_data.email }}<br>

            <strong>Telefon:</strong>
            {{ order_data.phone }}<br>

            <strong>Poznámka:</strong>
            {{ order_data.note ?: '-' }}
        </p>

        {% if contains_turkey %}
            <table cellspacing="0" cellpadding="0" class="table condensed">
                <thead>
                    <tr class="tr">
                        <th class="th condensed">Zboží</th>
                        <th class="th condensed text-center">Ks</th>
                        <th class="th condensed text-center">Váha 1 ks</th>
                        {% if show_prices %}
                            <th class="th condensed text-center">Kč/ks</th>
                            <th class="th condensed text-end">Celkem</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% if item.product.isTurkey %}
                            <tr class="tr condensed">
                                <td class="td condensed td-text-bigger {% if not item.note %}td-no-note{% endif %}"><strong>{{ item.product.title }}</strong></td>
                                <td class="td condensed text-center td-text-bigger {% if not item.note %}td-no-note{% endif %}">{{ item.quantity }} ks</td>
                                <td class="td condensed text-center {% if not item.note %}td-no-note{% endif %}">{{ item.product.weightFrom }} až {{ item.product.weightTo }}kg</td>
                                {% if show_prices %}
                                    <td class="td condensed text-center {% if not item.note %}td-no-note{% endif %}">{% if coupon.percentValue ?? null %}<del>{{ item.product.price|price|raw }} Kč/ks</del> {% endif%}{{ item.product.price(coupon)|price|raw }} Kč/ks</td>
                                    <td class="td condensed text-end {% if not item.note %}td-no-note{% endif %}">{% if coupon.percentValue ?? null %}<del>{{ item.price|price|raw }} Kč</del> {% endif%}<strong>{{ item.price(coupon)|price|raw }} Kč</strong></td>
                                {% endif %}
                            </tr>
                            {% if item.note %}
                                <tr class="tr condensed">
                                    <td colspan="{{ show_prices ? '5' : '3' }}" class="td condensed td-note td-text-bigger"><strong>{{ item.note }}</strong></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if contains_non_turkey %}
            <table cellspacing="0" cellpadding="0" class="table condensed">
                <thead>
                <tr class="tr condensed">
                    <th class="th condensed">Zboží</th>
                    <th class="th condensed text-center">Kg</th>
                    <th class="th condensed text-center">Vakuovat</th>
                    <th class="th condensed text-center">Nakrájet</th>
                    {% if show_prices %}
                        <th class="th condensed text-center">Kč/kg</th>
                        <th class="th condensed text-end">Celkem</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% if not item.product.isTurkey %}
                            <tr class="tr condensed">
                                <td class="td condensed td-text-bigger {% if not item.note %}td-no-note{% endif %}"><strong>{{ item.product.title }}</strong></td>
                                <td class="td condensed td-text-bigger text-center {% if not item.note %}td-no-note{% endif %}">{{ item.quantity }} Kg</td>
                                <td class="td condensed td-text-bigger text-center {% if not item.note %}td-no-note{% endif %}">{% if item.pack %}Ano {% if show_prices %}(+{{ item.product.packPrice }} kč){% endif %}{% else %}-{% endif %}</td>
                                <td class="td condensed td-text-bigger text-center {% if not item.note %}td-no-note{% endif %}">{% if item.slice %}Ano{% else %}-{% endif %}</td>
                                {% if show_prices %}
                                    <td class="td condensed text-center {% if not item.note %}td-no-note{% endif %}">{% if coupon.percentValue ?? null %}<del>{{ item.product.price|price|raw }} Kč/kg</del> {% endif%}{{ item.product.price(coupon)|price|raw }} Kč/kg</td>
                                    <td class="td condensed text-end {% if not item.note %}td-no-note{% endif %}">{% if coupon.percentValue ?? null %}<del>{{ item.price|price|raw }} Kč</del> {% endif%}<strong>{{ item.price(coupon)|price|raw }} Kč</strong></td>
                                {% endif %}
                            </tr>
                            {% if item.note %}
                                <tr class="tr condensed">
                                    <td colspan="{{ show_prices ? '6' : '4' }}" class="td condensed td-text-bigger td-note"><strong>{{ item.note }}</strong></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if show_prices %}
            <div>
                {% if coupon %}
                    <p>
                        Slevový kód: <strong>{{ coupon.code }}</strong><br>
                        {% if coupon.percentValue %}
                            Sleva: <strong>-{{ coupon.percentValue }}%</strong><br>
                        {% endif %}
                        Před slevou: <del>{{ total_price_without_discount.amount|price|raw }} Kč </del>
                    </p>
                {% endif %}

                {% if place.isDelivery and delivery_address %}
                    <p>
                        Doprava: {{ delivery_price }} Kč {% if is_free_delivery%}(zdarma nad 5000 Kč){% endif %}<br>
                        Balné: {{ packing_price }} Kč
                    </p>
                {% endif %}

                <h3>Orientační cena celkem: <strong>{{ total_price.amount|price|raw }} Kč</strong></h3>
            </div>
        {% endif %}

    </body>
    </html>
{% endapply %}
