{% apply inline_css(source('@styles/email.css')) %}
    <html lang="cs">
    <body>

    <h1 class="admin-h1">Objednávka č. {{ order_id }}</h1>

        {% if cart.pickupPlace %}
            <h3>Osobní odběr: <strong>{{ places[cart.pickupPlace].name }}</strong></h3>
        {% elseif cart.deliveryPlace and cart.deliveryAddress %}
            <h3>
                Rozvoz <small>({{ cart.place.isOwnDelivery ? 'Náš rozvoz' : 'CoolBalík' }}) na adresu:</small>
                <br><strong>{{ cart.deliveryAddress.street }}, {{ cart.deliveryAddress.city }} {{ cart.deliveryAddress.postalCode }}</strong>
                <br>
                <small><strong>
                    {% if cart.orderData.payByCard %}
                        Platba kartou při předávce
                    {% else %}
                        Platba hotově při předávce
                    {% endif %}
                </strong></small>
            </h3>
        {% endif %}

        <h3>
            Datum: <strong>{{ cart.date|dayOfWeek }} - {{ cart.date.format('d.m.Y') }}</strong>
        </h3>

        <p>
            <strong>Jméno a příjmení:</strong>
            {{ cart.orderData.name }}<br>

            <strong>E-mail:</strong>
            {{ cart.orderData.email }}<br>

            <strong>Telefon:</strong>
            {{ cart.orderData.phone }}<br>

            <strong>Poznámka:</strong>
            {{ cart.orderData.note ?: '-' }}
        </p>

        {% if cart.containsTurkey %}
            <table cellspacing="0" cellpadding="0" class="table condensed">
                <thead>
                    <tr class="tr">
                        <th class="th condensed">Zboží</th>
                        <th class="th condensed text-center">Ks</th>
                        <th class="th condensed text-center">Váha 1 ks</th>
                        <th class="th condensed text-center">Kč/ks</th>
                        <th class="th condensed text-end">Celkem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.items %}
                        {% if item.product.isTurkey %}
                            <tr class="tr condensed">
                                <td class="td condensed td-text-bigger {% if not item.note %}td-no-note{% endif %}"><strong>{{ item.product.title }}</strong></td>
                                <td class="td condensed text-center td-text-bigger {% if not item.note %}td-no-note{% endif %}">{{ item.quantity }} ks</td>
                                <td class="td condensed text-center {% if not item.note %}td-no-note{% endif %}">{{ item.product.weightFrom }} až {{ item.product.weightTo }}kg</td>
                                <td class="td condensed text-center {% if not item.note %}td-no-note{% endif %}">{% if cart.coupon.percentValue ?? null %}<del>{{ item.product.price|price|raw }} Kč/ks</del> {% endif%}{{ item.product.price(cart.coupon)|price|raw }} Kč/ks</td>
                                <td class="td condensed text-end {% if not item.note %}td-no-note{% endif %}">{% if cart.coupon.percentValue ?? null %}<del>{{ item.price|price|raw }} Kč</del> {% endif%}<strong>{{ item.price(cart.coupon)|price|raw }} Kč</strong></td>
                            </tr>
                            {% if item.note %}
                                <tr class="tr condensed">
                                    <td colspan="5" class="td condensed td-note td-text-bigger"><strong>{{ item.note }}</strong></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if cart.containsNonTurkey %}
            <table cellspacing="0" cellpadding="0" class="table condensed">
                <thead>
                <tr class="tr condensed">
                    <th class="th condensed">Zboží</th>
                    <th class="th condensed text-center">Kg</th>
                    <th class="th condensed text-center">Vakuovat</th>
                    <th class="th condensed text-center">Nakrájet</th>
                    <th class="th condensed text-center">Kč/kg</th>
                    <th class="th condensed text-end">Celkem</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in cart.items %}
                        {% if not item.product.isTurkey %}
                            <tr class="tr condensed">
                                <td class="td condensed td-text-bigger {% if not item.note %}td-no-note{% endif %}"><strong>{{ item.product.title }}</strong></td>
                                <td class="td condensed td-text-bigger text-center {% if not item.note %}td-no-note{% endif %}">{{ item.quantity }} Kg</td>
                                <td class="td condensed td-text-bigger text-center {% if not item.note %}td-no-note{% endif %}">{% if item.pack %}Ano (+{{ item.product.packPrice }} kč){% else %}-{% endif %}</td>
                                <td class="td condensed td-text-bigger text-center {% if not item.note %}td-no-note{% endif %}">{% if item.slice %}Ano{% else %}-{% endif %}</td>
                                <td class="td condensed text-center {% if not item.note %}td-no-note{% endif %}">{% if cart.coupon.percentValue ?? null %}<del>{{ item.product.price|price|raw }} Kč/kg</del> {% endif%}{{ item.product.price(cart.coupon)|price|raw }} Kč/kg</td>
                                <td class="td condensed text-end {% if not item.note %}td-no-note{% endif %}">{% if cart.coupon.percentValue ?? null %}<del>{{ item.price|price|raw }} Kč</del> {% endif%}<strong>{{ item.price(cart.coupon)|price|raw }} Kč</strong></td>
                            </tr>
                            {% if item.note %}
                                <tr class="tr condensed">
                                    <td colspan="6" class="td condensed td-text-bigger td-note"><strong>{{ item.note }}</strong></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div>
            {% if cart.coupon %}
                <p>
                    Slevový kód: <strong>{{ cart.coupon.code }}</strong><br>
                    {% if cart.coupon.percentValue %}
                        Sleva: <strong>-{{ cart.coupon.percentValue }}%</strong><br>
                    {% endif %}
                    Před slevou: <del>{{ cart.totalPriceWithoutDiscount.amount|price|raw }} Kč </del>
                </p>
            {% endif %}

            {% if cart.deliveryPlace and cart.deliveryAddress %}
                <p>
                    Doprava: {{ cart.deliveryPrice }} Kč<br>
                    Balné: {{ cart.packingPrice }} Kč
                </p>
            {% endif %}

            <h3>Orientační cena celkem: <strong>{{ cart.totalPrice.amount|price|raw }} Kč</strong></h3>
        </div>

    </body>
    </html>
{% endapply %}
