{% apply inline_css(source('@styles/email.css')) %}
    <html lang="cs">
    <body>

    <div class="newsletterContainer">
        <div class="text-center">
            <img src="{{ email.image('@images/logo.png') }}" alt="Logo">

            <h1 class="newsletter">Potvrzení přijetí objednávky č. {{ order_id }}</h1>

            <p>
                Děkujeme Vám za Vaši objednávku.<br>
                {% if place.isDelivery %}
                    {% if place.isOwnDelivery %}
                        Den před dodávkou odpoledne Vám zašleme SMS ohledně času doručení.
                    {% else %}
                        Den před dodávkou odpoledne Vám přepravce zašle SMS ohledně času doručení. V případě jakýchkoliv dotazů v den doručení kontaktujte prosím v době od 8:00 do 18:30 přepravce na telefonním čísle: 773 827 035.
                    {% endif %}
                {% else %}
                    Zboží bude na vybrané prodejně připraveno ve Vámi vybraném termínu hned od začátku prodejní doby. SMS, že zboží je připraveno na prodejně již neposíláme. Kde nás najdete a otevírací dobu našich prodejen najdete i  zde <a href="https://ceskakruta.cz/prodejni-mista">ceskakruta.cz/prodejni-mista</a>.
                {% endif %}
            </p>
        </div>

            <p>Prosíme o pečlivou kontrolu níže uvedených údajů.</p>

            {% if not place.isDelivery %}
                <h3>Osobní odběr: <strong>{{ place.name }}</strong></h3>

                <p>
                    <strong>{{ place.address1 }}</strong><br>
                    <span class="text-muted">{{ place.address2 }}</span><br>
                    <small class="text-muted">{{ place.address3 }}</small><br>
                    {% if place.mapUrl %}<a href="{{ place.mapUrl }}">Mapa</a>{% endif %}
                </p>

                <p>
                    <strong>Otevírací doba</strong><br>
                    <span class="text-muted">{{ place.openingHours }}</span>
                </p>
            {% else %}
                <h3>
                    Rozvoz <small>({{ place.isOwnDelivery ? 'Náš rozvoz' : 'CoolBalík' }}) na adresu:</small>
                    <br><strong>{{ delivery_address.street }}, {{ delivery_address.city }} {{ delivery_address.postalCode }}</strong>
                    {% if show_prices %}
                        <br>
                        <small><strong>
                            {% if order_data.payByCard %}
                                Platba kartou při předávce
                            {% else %}
                                Platba hotově při předávce
                            {% endif %}
                        </strong></small>
                    {% endif %}
                </h3>
            {% endif %}

            <h3>
                Datum: <strong>{{ date_to|dayOfWeek }} - {{ date_to.format('d.m.Y') }}</strong>
            </h3>

            <table class="table-borderless">
                <tr>
                    <th class="th-backgroundless">Jméno a příjmení:</th>
                    <td class="td">{{ order_data.name }}</td>
                </tr>

                {% if company_billing_info and company_billing_info.companyName %}
                    <tr>
                        <th class="th-backgroundless">Společnost:</th>
                        <td class="td">
                            {{ company_billing_info.companyName }}

                            {% if company_billing_info.companyId %}
                                <br><strong>IČ:</strong>
                                {{ company_billing_info.companyId }}
                            {% endif %}

                            {% if company_billing_info.companyVatId %}
                                <br><strong>DIČ:</strong>
                                {{ company_billing_info.companyVatId }}
                            {% endif %}
                        </td>
                    </tr>

                    {% if company_billing_info and company_billing_info.address %}
                        <tr>
                            <th class="th-backgroundless">Fakturační adresa:</th>
                            <td class="td">
                                {{ company_billing_info.address.street }},
                                {{ company_billing_info.address.city }}
                                {{ company_billing_info.address.postalCode }}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}

                <tr>
                    <th class="th-backgroundless">E-mail:</th>
                    <td class="td">{{ order_data.email }}</td>
                </tr>

                <tr>
                    <th class="th-backgroundless">Telefon:</th>
                    <td class="td">{{ order_data.phone }}</td>
                </tr>

                <tr>
                    <th class="th-backgroundless">Poznámka:</th>
                    <td class="td">{{ order_data.note ?: '-' }}</td>
                </tr>
            </table>

            {% if contains_turkey %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">Zboží</th>
                            <th class="th text-center">Počet</th>
                            <th class="th text-center">Váha/ks</th>
                            {% if show_prices %}
                                <th class="th text-center">Kč/ks</th>
                                <th class="th text-end">Celkem</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            {% if item.product.isTurkey %}
                                <tr>
                                    <td class="td"><strong>{{ item.product.title }}</strong></td>
                                    <td class="td text-center">{{ item.quantity }} {{ item.product.unit }}</td>
                                    <td class="td text-center">{{ item.product.weightFrom }} až {{ item.product.weightTo }}kg</td>
                                    {% if show_prices %}
                                        <td class="td text-center">{% if coupon.percentValue ?? null %}<del>{{ item.product.price|price|raw }} Kč/ks</del><br>{% endif%}{{ item.product.price(coupon)|price|raw }} Kč/ks</td>
                                        <td class="td text-end">{% if coupon.percentValue ?? null %}<del>{{ item.price|price|raw }} Kč</del><br>{% endif%}<strong>{{ item.price(coupon)|price|raw }} Kč</strong></td>
                                    {% endif %}
                                </tr>
                                {% if item.note %}
                                    <tr>
                                        <td colspan="{{ show_prices ? '5' : '3' }}" class="td td-note">Poznámka: {{ item.note }}</td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if contains_non_turkey %}
                <table class="table">
                    <thead>
                    <tr>
                        <th class="th">Zboží</th>
                        <th class="th text-center">Množství</th>
                        {% if show_prices %}
                            <th class="th text-center">Kč</th>
                            <th class="th text-end">Celkem</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            {% if not item.product.isTurkey %}
                                <tr>
                                    <td class="td">
                                        <strong>{{ item.product.title }}</strong>
                                        {% if item.pack %}<br>+ Vakuovat {% if show_prices %}(+{{ item.product.packPrice }} Kč){% endif %}{% endif %}
                                        {% if item.slice %}<br>+ Nakrájet{% endif %}
                                    </td>
                                    <td class="td text-center">{{ item.quantity }} {{ item.product.unit }}</td>
                                    {% if show_prices %}
                                        <td class="td text-center">{% if coupon.percentValue ?? null %}<del>{{ item.product.price|price|raw }} Kč/{{ item.product.unit }}</del><br>{% endif%}{{ item.product.price(coupon)|price|raw }} Kč/{{ item.product.unit }}</td>
                                        <td class="td text-end">{% if coupon.percentValue ?? null %}<del>{{ item.price|price|raw }} Kč</del><br>{% endif%}<strong>{{ item.price(coupon)|price|raw }} Kč</strong></td>
                                    {% endif %}
                                </tr>
                                {% if item.note %}
                                    <tr>
                                        <td colspan="{{ show_prices ? '4' : '2' }}" class="td td-note">Poznámka: {{ item.note }}</td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if show_prices %}
                <div>
                    {% if coupon %}
                        <p>
                            Slevový kód: <strong>{{ coupon.code }}</strong><br>
                            {% if coupon.percentValue %}
                                Sleva: <strong>-{{ coupon.percentValue }}%</strong><br>
                            {% endif %}
                            Před slevou: <del>{{ total_price_without_discount.amount|price|raw }} Kč </del>
                        </p>
                    {% endif %}

                    {% if place.isDelivery and delivery_address %}
                        <p>
                            Doprava: {{ delivery_price }} Kč {% if is_free_delivery %}(zdarma nad 5000 Kč){% endif %} <br>
                            Balné: {{ packing_price }} Kč
                        </p>
                    {% endif %}

                    <h3>Orientační cena celkem: <strong>{{ total_price.amount|price|raw }} Kč</strong></h3>
                </div>
            {% endif %}
        </div>

    </body>
    </html>
{% endapply %}
