{% apply inline_css(source('@styles/email.css')) %}
    <html lang="cs">
    <body>

        <div class="newsletterContainer">
            <img src="{{ email.image('@images/logo.png') }}" alt="Logo">

            <h1 class="newsletter">Potvrzení přijetí objednávky č. {{ order_id }}</h1>

            <div class="newsletterBody">

                <p>Děkujeme za objednávku. Tímto potvrzujeme její přijetí. Objednávka bude připravena na níže uvedené prodejní místo a datum. <br>Pokud jste objednali rozvoz, den předem Vám zašleme sms ohledně doručení.</p>
                <p>Prosíme o pečlivou kontrolu níže uvedených údajů.</p>


                <div class="text-center py-3 border-bottom">
                    {% if cart.pickupPlace %}
                        <h2 class="h6 mb-2 pb-1">Osobní odběr</h2>
                        <h3 class="h5 fw-normal mb-0">
                            {{ places[cart.pickupPlace].name }}
                        </h3>
                    {% elseif cart.deliveryPlace and cart.deliveryAddress %}
                        <h2 class="h6 mb-2 pb-1">Rozvoz</h2>
                        <small class="text-muted">{{ cart.place.isOwnDelivery ? 'Náš rozvoz' : 'CoolBalík' }}</small>
                        <h3 class="h5 fw-normal mb-0">
                            {{ cart.deliveryAddress.street }}, {{ cart.deliveryAddress.city }} {{ cart.deliveryAddress.postalCode }}
                        </h3>
                    {% endif %}

                    <h3 class="h5 fw-normal mt-3 mb-0">
                        {{ cart.date|dayOfWeek }} - {{ cart.date.format('d.m.Y') }}
                    </h3>
                </div>

                <div class="text-center mb-4 py-3 border-bottom">
                    <h2 class="h6 mb-3 pb-1">Orientační cena: {{ cart.totalPrice.amount|price }} Kč</h2>
                </div>

                <hr>

                <div class="mb-4 pb-3">
                    <p>
                        <strong>Jméno a příjmení</strong><br>
                        {{ cart.orderData.name }}
                    </p>
                    <p>
                        <strong>E-mail</strong><br>
                        {{ cart.orderData.email }}
                    </p>
                    <p>
                        <strong>Telefon</strong><br>
                        {{ cart.orderData.phone }}
                    </p>
                    <p>
                        <strong>Poznámka</strong><br>
                        {{ cart.orderData.note ?: '-' }}
                    </p>
                </div>

                <hr>

                {% for item in cart.items %}
                    <div class="d-block d-sm-flex align-items-center py-4 border-bottom">
                        <div class="text-center text-sm-start">
                            <h3 class="h6 product-title mb-2">{{ item.product.title }}</h3>
                            <div class="d-inline-block">
                                {% if item.product.turkeyType %}
                                    Hmotnost: {{ item.product.weightFrom }} až {{ item.product.weightTo }}kg<br>
                                    Orientační cena{% if cart.place is null %} od{% endif %}: <strong>{{ item.product.price|price }} Kč/ks</strong>
                                {% else %}
                                    <strong>{{ item.product.price  }} <small>Kč/kg</small></strong>
                                    {% if item.slice %}
                                        <br>+ Nakrájet
                                    {% endif %}
                                    {% if item.pack %}
                                        <br>+ Vakuově zabalit (+{{ item.product.packPrice }} kč)
                                    {% endif %}
                                {% endif %}
                                <br>
                                Množství: {{ item.quantity }} {% if item.product.turkeyType %}ks{% else %}Kg{% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </body>
    </html>
{% endapply %}
