{% apply inline_css(source('@styles/email.css')) %}
    <html lang="cs">
    <body>

    <div class="newsletterContainer">
        <div class="text-center">
            <img src="{{ email.image('@images/logo.png') }}" alt="Logo">

            <h1 class="newsletter">Potvrzení přijetí objednávky č. {{ order_id }}</h1>

            <p>
                Děkujeme Vám za Vaši objednávku
                {% if cart.place.isDelivery %}
                    {% if cart.place.isOwnDelivery %}
                        Den před dodávkou odpoledne Vám zašleme SMS ohledně času doručení.
                    {% else %}
                        Den před dodávkou odpoledne Vám přepravce zašle SMS ohledně času doručení. V případě jakýchkoliv dotazů v den doručení kontaktujte prosím v době od 8:00 do 18:30 přepravce na telefonním čísle: 773 827 035.
                    {% endif %}
                {% else %}
                    Zboží bude na vybrané prodejně připraveno ve Vámi vybraném termínu hned od začátku prodejní doby.
                {% endif %}
            </p>
        </div>

            <p>Prosíme o pečlivou kontrolu níže uvedených údajů.</p>

            {% if cart.pickupPlace %}
                <h3>Osobní odběr: <strong>{{ places[cart.pickupPlace].name }}</strong></h3>
            {% elseif cart.deliveryPlace and cart.deliveryAddress %}
                <h3>
                    Rozvoz <small>({{ cart.place.isOwnDelivery ? 'Náš rozvoz' : 'CoolBalík' }}) na adresu:</small>
                    <br><strong>{{ cart.deliveryAddress.street }}, {{ cart.deliveryAddress.city }} {{ cart.deliveryAddress.postalCode }}</strong>
                </h3>
            {% endif %}

            <h3>
                Datum: <strong>{{ cart.date|dayOfWeek }} - {{ cart.date.format('d.m.Y') }}</strong>
            </h3>

            <table class="table-borderless">
                <tr>
                    <th class="th-backgroundless">Jméno a příjmení:</th>
                    <td class="td">{{ cart.orderData.name }}</td>
                </tr>

                <tr>
                    <th class="th-backgroundless">E-mail:</th>
                    <td class="td">{{ cart.orderData.email }}</td>
                </tr>

                <tr>
                    <th class="th-backgroundless">Telefon:</th>
                    <td class="td">{{ cart.orderData.phone }}</td>
                </tr>

                <tr>
                    <th class="th-backgroundless">Poznámka:</th>
                    <td class="td">{{ cart.orderData.note ?: '-' }}</td>
                </tr>
            </table>

            {% if cart.containsTurkey %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">Zboží</th>
                            <th class="th text-center">Počet</th>
                            <th class="th text-center">Váha/ks</th>
                            <th class="th text-center">Kč/ks</th>
                            <th class="th text-end">Celkem</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items %}
                            {% if item.product.isTurkey %}
                                <tr>
                                    <td class="td"><strong>{{ item.product.title }}</strong></td>
                                    <td class="td text-center">{{ item.quantity }} ks</td>
                                    <td class="td text-center">{{ item.product.weightFrom }} až {{ item.product.weightTo }}kg</td>
                                    <td class="td text-center">{% if cart.coupon.percentValue ?? null %}<del>{{ item.product.price|price|raw }} Kč/ks</del><br>{% endif%}{{ item.product.price(cart.coupon)|price|raw }} Kč/ks</td>
                                    <td class="td text-end">{% if cart.coupon.percentValue ?? null %}<del>{{ item.price|price|raw }} Kč</del><br>{% endif%}<strong>{{ item.price(cart.coupon)|price|raw }} Kč</strong></td>
                                </tr>
                                {% if item.note %}
                                    <tr>
                                        <td colspan="5" class="td td-note">Poznámka: {{ item.note }}</td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if cart.containsNonTurkey %}
                <table class="table">
                    <thead>
                    <tr>
                        <th class="th">Zboží</th>
                        <th class="th text-center">Kg</th>
                        <th class="th text-center">Kč/kg</th>
                        <th class="th text-end">Celkem</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items %}
                            {% if not item.product.isTurkey %}
                                <tr>
                                    <td class="td">
                                        <strong>{{ item.product.title }}</strong>
                                        {% if item.pack %}<br>+ Vakuovat (+{{ item.product.packPrice }} kč){% endif %}
                                        {% if item.slice %}<br>+ Nakrájet{% endif %}
                                    </td>
                                    <td class="td text-center">{{ item.quantity }} Kg</td>
                                    <td class="td text-center">{% if cart.coupon.percentValue ?? null %}<del>{{ item.product.price|price|raw }} Kč/kg</del><br>{% endif%}{{ item.product.price(cart.coupon)|price|raw }} Kč/kg</td>
                                    <td class="td text-end">{% if cart.coupon.percentValue ?? null %}<del>{{ item.price|price|raw }} Kč</del><br>{% endif%}<strong>{{ item.price(cart.coupon)|price|raw }} Kč</strong></td>
                                </tr>
                                {% if item.note %}
                                    <tr>
                                        <td colspan="4" class="td td-note">Poznámka: {{ item.note }}</td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <div>
                {% if cart.coupon %}
                    <p>
                        Slevový kód: <strong>{{ cart.coupon.code }}</strong><br>
                        {% if cart.coupon.percentValue %}
                            Sleva: <strong>-{{ cart.coupon.percentValue }}%</strong><br>
                        {% endif %}
                        Před slevou: <del>{{ cart.totalPriceWithoutDiscount.amount|price|raw }} Kč </del>
                    </p>
                {% endif %}

                {% if cart.deliveryPlace and cart.deliveryAddress %}
                    <p>
                        Doprava: {{ cart.deliveryPrice }} Kč<br>
                        Balné: {{ cart.packingPrice }} Kč
                    </p>
                {% endif %}

                <h3>Orientační cena celkem: <strong>{{ cart.totalPrice.amount|price|raw }} Kč</strong></h3>
            </div>
        </div>

    </body>
    </html>
{% endapply %}
