{% if not product.isHalf %}
    <tr data-controller="turkey-half-toggle">
        {% set weight_from = calendar[year][week][product.turkeyType].weightFrom  %}
        {% set weight_to = calendar[year][week][product.turkeyType].weightTo  %}
        {% set average_weight = (weight_from + weight_to) / 2  %}
        <td class="align-middle calendar-image">
            {% if products_halves[product.id] is defined %}
                <div class="toggleable d-none" data-turkey-half-toggle-target="half">
                    {% if asset_exists('img/produkty/' ~ products_halves[product.id].id ~ '.jpg') %}
                        <img src="{{ asset('img/produkty/' ~ products_halves[product.id].id ~ '.jpg') }}" alt="Product">
                    {% else %}
                        <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                    {% endif %}
                </div>
            {% endif %}

            <div class="toggleable visible" data-turkey-half-toggle-target="whole">
                {% if asset_exists('img/produkty/' ~ product.id ~ '.jpg') %}
                    <img src="{{ asset('img/produkty/' ~ product.id ~ '.jpg') }}" alt="Product">
                {% else %}
                    <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                {% endif %}
            </div>
        </td>

        <td style="line-height: 120%;" class="align-middle td-text">
            {% if products_halves[product.id] is defined %}
                <div class="toggleable d-none" data-turkey-half-toggle-target="half">
                    {{ products_halves[product.id].title|productName|raw }}
                </div>
            {% endif %}

            <div class="toggleable visible" data-turkey-half-toggle-target="whole">
                {{ product.title|productName|raw }}
            </div>

            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="ex-check-{{ week }}-{{ year }}-{{ product.id }}" data-turkey-half-toggle-target="toggler">
                <label class="form-check-label" for="ex-check-{{ week }}-{{ year }}-{{ product.id }}">Půlku</label>
            </div>
        </td>

        <td class="text-center align-middle td-price">
            {% if products_halves[product.id] is defined %}
                <div class="toggleable d-none" data-turkey-half-toggle-target="half">
                    <strong>{{ weight_from / 2 }} až {{ weight_to / 2 }} kg</strong>
                </div>
            {% endif %}

            <div class="toggleable visible" data-turkey-half-toggle-target="whole">
                <strong>{{ weight_from }} až {{ weight_to }} kg</strong>
            </div>

            {% if products_halves[product.id] is defined %}
                <div class="toggleable d-none" data-turkey-half-toggle-target="half">
                    <small>{{ products_halves[product.id].pricePerUnit|price|raw }}&nbsp;Kč/kg</small><br>
                    <strong>{{ (products_halves[product.id].pricePerUnit * average_weight / 2 )|price|raw }}&nbsp;Kč/ks</strong>
                </div>
            {% endif %}

            <div class="toggleable visible" data-turkey-half-toggle-target="whole">
                <small>{{ product.pricePerUnit|price|raw }}&nbsp;Kč/kg</small><br>
                <strong>{{ (product.pricePerUnit * average_weight)|price|raw }}&nbsp;Kč/ks</strong>
            </div>
        </td>

        <td class="text-center text-md-end align-middle td-form">
            {% if products_halves[product.id] is defined %}
                <div class="toggleable d-none" data-turkey-half-toggle-target="half">
                    {{ form_start(add_to_cart_forms[products_halves[product.id].id]) }}
                    <input name="{{ field_name(add_to_cart_forms[products_halves[product.id].id].quantity) }}" style="width: 40px;" class="text-center form-control d-inline-block form-control-sm me-sm-1" type="text" value="1"><br class="d-md-none">Ks<br class="d-md-none">
                    <input type="hidden" name="{{ field_name(add_to_cart_forms[products_halves[product.id].id].productId) }}" value="{{ products_halves[product.id].id }}">
                    <input type="hidden" name="{{ field_name(add_to_cart_forms[products_halves[product.id].id].week) }}" value="{{ week }}">
                    <input type="hidden" name="{{ field_name(add_to_cart_forms[products_halves[product.id].id].year) }}" value="{{ year }}">

                    <button class="text-center ms-md-2 btn btn-primary btn-sm" type="submit">
                        <i class="ci-cart fs-sm me-sm-1"></i><span class="d-none d-sm-inline"> Objednat na<br>{{ week }}. týden</span>
                    </button>
                    {{ form_end(add_to_cart_forms[products_halves[product.id].id]) }}
                </div>
            {% endif %}

            <div class="toggleable visible" data-turkey-half-toggle-target="whole">
                {{ form_start(add_to_cart_forms[product.id]) }}
                <input name="{{ field_name(add_to_cart_forms[product.id].quantity) }}" style="width: 40px;" class="text-center form-control d-inline-block form-control-sm me-sm-1" type="text" value="1"><br class="d-md-none">Ks<br class="d-md-none">
                    <input type="hidden" name="{{ field_name(add_to_cart_forms[product.id].productId) }}" value="{{ product.id }}">
                    <input type="hidden" name="{{ field_name(add_to_cart_forms[product.id].week) }}" value="{{ week }}">
                    <input type="hidden" name="{{ field_name(add_to_cart_forms[product.id].year) }}" value="{{ year }}">

                    <button class="text-center ms-md-2 btn btn-primary btn-sm" type="submit">
                        <i class="ci-cart fs-sm me-sm-1"></i><span class="d-none d-sm-inline"> Objednat na<br>{{ week }}. týden</span>
                    </button>
                {{ form_end(add_to_cart_forms[product.id]) }}
            </div>
        </td>
    </tr>
{% endif %}
