<tr>
    <td>
        {% if asset_exists('img/produkty/' ~ product.id ~ '.png') %}
            <img src="{{ asset('img/produkty/' ~ product.id ~ '.png') }}" style="max-height: 100px;max-width: 100px;" alt="Product">
        {% else %}
            <img src="{{ asset('img/placeholder.jpg') }}" style="max-height: 100px;max-width: 100px;" alt="Product">
        {% endif %}
    </td>

    <td>
        {{ product.title }}
    </td>

    <td>
        Hmotnost<br>
        <strong>{{ calendar[year][week][product.turkeyType].weightFrom }} až {{ calendar[year][week][product.turkeyType].weightTo }}kg</strong>
    </td>

    <td>
        Cena za ks<br>
        {% set piecePrice = (calendar[year][week][product.turkeyType].weightFrom + calendar[year][week][product.turkeyType].weightTo) / 2 * product.price  %}
        <strong>{% if cart.pickupPlace is null %} od{% endif %} {{ piecePrice|price }} Kč</strong>
    </td>

    <td>
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="ex-check">
            <label class="form-check-label" for="ex-check">Chci jen půlku</label>
        </div>
        <input style="width: 60px;" class="text-center form-control d-inline-block form-control-sm me-1" type="text" value="1"> Ks

    </td>
    <td>
        <button class="text-center ms-2 btn btn-primary btn-sm" type="button">
            <i class="ci-cart fs-sm me-1"></i>
            Do košíku
        </button>
    </td>
</tr>
