<nav class="navbar navbar-expand p-0 mb-3">
    <ul class="navbar-nav flex-wrap navbar-my-account shadow-lg">
        <li class="nav-item">
            <a class="nav-link {{ app.request.pathInfo == path('user_my_account') or app.request.pathInfo == path('edit_user_info') ? 'active' }}" href="{{ path('user_my_account') }}">Můj účet</a>
        </li>

        {% if app.user.wholesaleAllowed %}
            <li>
                <a  class="nav-link {{ app.request.pathInfo == path('user_recurring_order') ? 'active' }}" href="{{ path('user_recurring_order') }}">Pravidelné objednávky</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link {{ app.request.pathInfo == path('user_my_orders') ? 'active' }}" href="{{ path('user_my_orders') }}">Objednávky</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}">Odhlásit se</a>
        </li>
    </ul>
</nav>
