<div class="order-panel">
    <ul class="nav nav-tabs media-tabs nav-justified">
        <li class="nav-item">
            <a href="{{ path('products') }}">
                <div class="nav-link {% if currentUri == path('products') or currentUri == path('products_cold') or currentUri == path('products_cold_calendar') %}active{% endif %}">
                    <div class="d-flex align-items-center">
                        <div class="media-tab-media"><i class="ci-bag"></i></div>
                        <div class="ps-3">
                            <h6 class="media-tab-title text-nowrap mb-0">Nákup</h6>
                        </div>
                    </div>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ cart.pickupPlace ? path('order_pickup_places') : path('order_delivery') }}">
                <div class="nav-link {% if currentUri == path('order_delivery') or currentUri == path('order_pickup_places') %}active{% endif %} {% if cart.place %}completed{% endif %}">
                    <div class="d-flex align-items-center">
                        <div class="media-tab-media"><i class="ci-delivery"></i></div>
                        <div class="ps-3">
                            <h6 class="media-tab-title text-nowrap mb-0">
                                {% if cart.pickupPlace %}
                                    Osobní odběr
                                {% elseif cart.deliveryAddress %}
                                    Rozvoz <small class="text-muted">{{ cart.place.isOwnDelivery ? 'Náš rozvoz' : 'CoolBalík' }}</small>
                                {% else %}
                                    Doručení
                                {% endif %}
                            </h6>
                            {% if cart.pickupPlace %}
                                <div class="media-tab-subtitle text-muted fs-xs mb-0">
                                    {{ places[cart.pickupPlace].name }}
                                </div>
                            {% endif %}
                            {% if cart.deliveryPlace and cart.deliveryAddress %}
                                <div class="media-tab-subtitle text-muted fs-xs mb-0">
                                    {{ cart.deliveryAddress.street }}, {{ cart.deliveryAddress.city }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a data-turbo-prefetch="false" href="{{ path('order_available_dates') }}">
                <div class="nav-link {% if currentUri == path('order_available_dates') %}active{% endif %} {% if cart.date %}completed{% endif %}">
                    <div class="d-flex align-items-center">
                        <div class="media-tab-media"><i class="ci-time"></i></div>
                        <div class="ps-3">
                            <h6 class="media-tab-title text-nowrap mb-0">Termín</h6>

                            {% if cart.lockedWeek %}
                                <div class="media-tab-subtitle text-muted fs-xs mb-0">
                                    Vybrán {{ cart.lockedWeek.number }}. týden
                                </div>
                            {% endif %}

                            {% if cart.date %}
                                <div class="media-tab-subtitle text-muted fs-xs mb-0">
                                    {{ cart.date|dayOfWeek }} - {{ cart.date.format('d.m.Y') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
