{% if not product.isHalf %}
    <div class="modal fade" id="{{ 'product-modal-' ~ product.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ product.title }}</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div>{{ product.text|raw }}</div>

                            <p class="mb-0 mt-3">
                                <a href="#" class="btn btn-sm btn-outline-primary">Recepty (3)</a>
                            </p>
                        </div>
                        <div class="col-sm-4 text-center">
                            {% if asset_exists('img/produkty/' ~ product.id ~ '.png') %}
                                <img src="{{ asset('img/produkty/' ~ product.id ~ '.png') }}" style="max-height: 150px;" alt="Product">
                            {% else %}
                                <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 my-3" data-controller="turkey-half-toggle">
        <div class="card shadow">
            {% if products_halves[product.id] is defined %}
                <div class="toggleable d-none" data-turkey-half-toggle-target="half">
                    <div style="height: 150px;" class="overflow-hidden">
                        <a class="card-img-top d-block text-center" href="#" data-bs-toggle="modal" data-bs-target="#product-modal-{{ products_halves[product.id].id }}">
                            {% if asset_exists('img/produkty/' ~ products_halves[product.id].id ~ '.png') %}
                                <img src="{{ asset('img/produkty/' ~ products_halves[product.id].id ~ '.png') }}" style="max-height: 150px;" alt="Product">
                            {% else %}
                                <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                            {% endif %}
                        </a>
                    </div>
                    <div class="card-body py-2">
                        <h3 class="product-title fs-base">{{ products_halves[product.id].title }}</h3>
                        <div class="d-flex justify-content-between">
                            <div class="product-price">
                                {% if products_halves[product.id].turkeyType %}
                                    Hhmotnost: <strong>{{ products_halves[product.id].weightFrom }} až {{ products_halves[product.id].weightTo }} kg</strong><br>
                                    {% if cart.week.number is not same as current_week %}
                                        <small class="text-muted">({{ cart.week.number }}. týden {{ firstDayOfWeek(cart.week.year, cart.week.number).format('d.m.') }} - {{ lastDayOfWeek(cart.week.year, cart.week.number).format('d.m.') }})</small><br>
                                    {% endif %}
                                    Orientační cena{% if cart.place is null %} od{% endif %}:&nbsp;<strong>{{ products_halves[product.id].price|price|raw }}&nbsp;Kč/ks</strong>
                                {% else %}
                                    Cena{% if cart.place is null %} od{% endif %}:&nbsp;<strong>{{ products_halves[product.id].price|price|raw }}&nbsp;Kč/kg</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="toggleable visible" data-turkey-half-toggle-target="whole">
                <div style="height: 150px;" class="overflow-hidden">
                    <a class="card-img-top d-block text-center" href="#" data-bs-toggle="modal" data-bs-target="#product-modal-{{ product.id }}">
                        {% if asset_exists('img/produkty/' ~ product.id ~ '.png') %}
                            <img src="{{ asset('img/produkty/' ~ product.id ~ '.png') }}" style="max-height: 150px;" alt="Product">
                        {% else %}
                            <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                        {% endif %}
                    </a>
                </div>
                <div class="card-body py-2">
                    <h3 class="product-title fs-base">{{ product.title }}</h3>
                    <div class="d-flex justify-content-between">
                        <div class="product-price">
                            {% if product.turkeyType %}
                                Hhmotnost: <strong>{{ product.weightFrom }} až {{ product.weightTo }} kg</strong><br>
                                {% if cart.week.number is not same as current_week %}
                                    <small class="text-muted">({{ cart.week.number }}. týden {{ firstDayOfWeek(cart.week.year, cart.week.number).format('d.m.') }} - {{ lastDayOfWeek(cart.week.year, cart.week.number).format('d.m.') }})</small><br>
                                {% endif %}
                                Orientační cena{% if cart.place is null %} od{% endif %}:&nbsp;<strong>{{ product.price|price|raw }}&nbsp;Kč/ks</strong>
                            {% else %}
                                Cena{% if cart.place is null %} od{% endif %}:&nbsp;<strong>{{ product.price|price|raw }}&nbsp;Kč/kg</strong>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body pt-0">
                <div class="mb-2">
                    {% if product.turkeyType %}
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="ex-check-{{ product.id }}" data-turkey-half-toggle-target="toggler">
                            <label class="form-check-label" for="ex-check-{{ product.id }}">Chci jen půlku</label>
                        </div>
                    {% endif %}

                    {% if products_halves[product.id] is defined %}
                        <div class="toggleable d-none" data-turkey-half-toggle-target="half">
                            {{ form_start(add_to_cart_forms[products_halves[product.id].id]) }}
                                <input name="{{ field_name(add_to_cart_forms[products_halves[product.id].id].quantity) }}" style="width: 60px;" class="text-center form-control d-inline-block form-control-sm me-1" type="text" value="1"> {% if products_halves[product.id].turkeyType %}ks{% else %}Kg{% endif %}

                                <button class="ms-2 btn btn-primary btn-sm float-end" type="submit">
                                    <i class="ci-cart fs-sm me-1"></i>
                                    Do košíku
                                </button>

                            {{ form_end(add_to_cart_forms[products_halves[product.id].id]) }}
                        </div>
                    {% endif %}

                    <div class="toggleable visible" data-turkey-half-toggle-target="whole">
                        {{ form_start(add_to_cart_forms[product.id]) }}
                            {% if product.canBeSliced %}
                                <div class="form-check">
                                    <input name="{{ field_name(add_to_cart_forms[product.id].slice) }}" class="form-check-input" type="checkbox" id="slice-check-{{ product.id }}1">
                                    <label class="form-check-label" for="slice-check-{{ product.id }}1">Nakrájet</label>
                                </div>
                            {% endif %}

                            {% if product.canBePacked %}
                                <div class="form-check mb-2">
                                    {% if product.forcePacking %}
                                        <input type="checkbox" disabled="disabled" checked="checked" class="form-check-input">
                                        <span class="form-check-label">Lze objednat pouze vakuově balené (+{{ product.packPrice }} kč)</span>
                                    {% else %}
                                        <input name="{{ field_name(add_to_cart_forms[product.id].pack) }}" class="form-check-input" type="checkbox" id="pack-check-{{ product.id }}1">
                                        <label class="form-check-label" for="pack-check-{{ product.id }}1">Vakuově zabalit (+{{ product.packPrice }} kč)</label>
                                    {% endif %}
                                </div>
                            {% endif %}


                            <input name="{{ field_name(add_to_cart_forms[product.id].quantity) }}" style="width: 60px;" class="text-center form-control d-inline-block form-control-sm me-1" type="text" value="1"> {% if product.turkeyType %}ks{% else %}Kg{% endif %}

                            <button class="ms-2 btn btn-primary btn-sm float-end" type="submit">
                                <i class="ci-cart fs-sm me-1"></i>
                                Do košíku
                            </button>

                        {{ form_end(add_to_cart_forms[product.id]) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
