{% if not product.isHalf %}
    <div class="col-4 my-3" data-controller="turkey-half-toggle">
        <div class="card shadow">
            {% if products_halves[product.id] is defined %}
                <div class="toggleable d-none" data-turkey-half-toggle-target="whole">
                    <div style="height: 150px;" class="overflow-hidden">
                        <a class="card-img-top d-block text-center" href="#">
                            {% if asset_exists('img/produkty/' ~ products_halves[product.id].id ~ '.png') %}
                                <img src="{{ asset('img/produkty/' ~ products_halves[product.id].id ~ '.png') }}" style="max-height: 150px;" alt="Product">
                            {% else %}
                                <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                            {% endif %}
                        </a>
                    </div>
                    <div class="card-body py-2">
                        <h3 class="product-title fs-base">{{ products_halves[product.id].title }}</h3>
                        <div class="d-flex justify-content-between">
                            <div class="product-price">
                                {% if products_halves[product.id].turkeyType %}
                                    Hhmotnost: <strong>{{ calendar[current_year][current_week][products_halves[product.id].turkeyType].weightFrom }} až {{ calendar[current_year][current_week][products_halves[product.id].turkeyType].weightTo }} kg</strong><br>
                                    {% set piecePrice = (calendar[current_year][current_week][products_halves[product.id].turkeyType].weightFrom + calendar[current_year][current_week][products_halves[product.id].turkeyType].weightTo) / 2 * products_halves[product.id].price %}
                                    Orientační cena{% if cart.pickupPlace is null %} od{% endif %}:&nbsp;<strong>{{ piecePrice|price }}&nbsp;Kč/ks</strong>
                                {% else %}
                                    Cena{% if cart.pickupPlace is null %} od{% endif %}:&nbsp;<strong>{{ products_halves[product.id].price|price }}&nbsp;Kč/kg</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="toggleable visible" data-turkey-half-toggle-target="half">
                <div style="height: 150px;" class="overflow-hidden">
                    <a class="card-img-top d-block text-center" href="#">
                        {% if asset_exists('img/produkty/' ~ product.id ~ '.png') %}
                            <img src="{{ asset('img/produkty/' ~ product.id ~ '.png') }}" style="max-height: 150px;" alt="Product">
                        {% else %}
                            <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                        {% endif %}
                    </a>
                </div>
                <div class="card-body py-2">
                    <h3 class="product-title fs-base">{{ product.title }}</h3>
                    <div class="d-flex justify-content-between">
                        <div class="product-price">
                            {% if product.turkeyType %}
                                Hhmotnost: <strong>{{ calendar[current_year][current_week][product.turkeyType].weightFrom }} až {{ calendar[current_year][current_week][product.turkeyType].weightTo }} kg</strong><br>
                                {% set piecePrice = (calendar[current_year][current_week][product.turkeyType].weightFrom + calendar[current_year][current_week][product.turkeyType].weightTo) / 2 * product.price %}
                                Orientační cena{% if cart.pickupPlace is null %} od{% endif %}:&nbsp;<strong>{{ piecePrice|price }}&nbsp;Kč/ks</strong>
                            {% else %}
                                Cena{% if cart.pickupPlace is null %} od{% endif %}:&nbsp;<strong>{{ product.price|price }}&nbsp;Kč/kg</strong>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body pt-0">
                <div class="mb-2">
                    {% if product.turkeyType %}
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="ex-check-{{ product.id }}" data-turkey-half-toggle-target="toggler">
                            <label class="form-check-label" for="ex-check-{{ product.id }}">Chci jen půlku</label>
                        </div>
                    {% endif %}

                    {% if products_halves[product.id] is defined %}
                        <div class="toggleable d-none" data-turkey-half-toggle-target="whole">
                            {{ form_start(add_to_cart_forms[products_halves[product.id].id]) }}
                                {% if products_halves[product.id].canBeSliced %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="ex-check-{{ products_halves[product.id].id }}1">
                                        <label class="form-check-label" for="ex-check-{{ products_halves[product.id].id }}1">Nakrájet</label>
                                    </div>
                                {% endif %}

                                {% if products_halves[product.id].canBePacked %}
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" id="ex-check-{{ products_halves[product.id].id }}2">
                                        <label class="form-check-label" for="ex-check-{{ products_halves[product.id].id }}2">Vakuově zabalit</label>
                                    </div>
                                {% endif %}


                                <input name="{{ field_name(add_to_cart_forms[products_halves[product.id].id].quantity) }}" style="width: 60px;" class="text-center form-control d-inline-block form-control-sm me-1" type="text" value="1"> {% if products_halves[product.id].turkeyType %}ks{% else %}Kg{% endif %}

                                <button class="ms-2 btn btn-primary btn-sm float-end" type="submit">
                                    <i class="ci-cart fs-sm me-1"></i>
                                    Do košíku
                                </button>

                            {{ form_end(add_to_cart_forms[products_halves[product.id].id]) }}
                        </div>
                    {% endif %}

                    <div class="toggleable visible" data-turkey-half-toggle-target="half">
                        {{ form_start(add_to_cart_forms[product.id]) }}
                            {% if product.canBeSliced %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="ex-check-{{ product.id }}1">
                                    <label class="form-check-label" for="ex-check-{{ product.id }}1">Nakrájet</label>
                                </div>
                            {% endif %}

                            {% if product.canBePacked %}
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="ex-check-{{ product.id }}2">
                                    <label class="form-check-label" for="ex-check-{{ product.id }}2">Vakuově zabalit</label>
                                </div>
                            {% endif %}


                            <input name="{{ field_name(add_to_cart_forms[product.id].quantity) }}" style="width: 60px;" class="text-center form-control d-inline-block form-control-sm me-1" type="text" value="1"> {% if product.turkeyType %}ks{% else %}Kg{% endif %}

                            <button class="ms-2 btn btn-primary btn-sm float-end" type="submit">
                                <i class="ci-cart fs-sm me-1"></i>
                                Do košíku
                            </button>

                        {{ form_end(add_to_cart_forms[product.id]) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
