<div class="col-4 my-3">
    <div class="card">
        <div style="height: 150px;" class="overflow-hidden">
            <a class="card-img-top d-block text-center" href="#">
                {% if asset_exists('img/produkty/' ~ product.id ~ '.png') %}
                    <img src="{{ asset('img/produkty/' ~ product.id ~ '.png') }}" style="max-height: 150px;" alt="Product">
                {% else %}
                    <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                {% endif %}
            </a>
        </div>
        <div class="card-body py-2">
            <h3 class="product-title fs-base">{{ product.title }}</h3>
            <div class="d-flex justify-content-between">
                <div class="product-price">
                    {% if product.type == 3 %}
                        Hhmotnost: <strong>4,5 až 5kg</strong><br>
                        Cena{% if cart.pickupPlace is null %} od{% endif %}: <strong>500 Kč / ks</strong>
                    {% else %}
                        Cena{% if cart.pickupPlace is null %} od{% endif %}: <strong>{{ product.priceFrom}} Kč/kg</strong>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="mb-2">
                {{ form_start(add_to_cart_forms[product.id]) }}

                {% if product.canBeSliced %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ex-check-{{ product.id }}1">
                        <label class="form-check-label" for="ex-check-{{ product.id }}1">Nakrájet</label>
                    </div>
                {% endif %}

                {% if product.canBePacked %}
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="ex-check-{{ product.id }}2">
                        <label class="form-check-label" for="ex-check-{{ product.id }}2">Vakuově zabalit</label>
                    </div>
                {% endif %}

                {% if product.type == 3 %}
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="ex-check-{{ product.id }}">
                        <label class="form-check-label" for="ex-check-{{ product.id }}">Chci jen půlku</label>
                    </div>
                {% endif %}

                <input name="{{ field_name(add_to_cart_forms[product.id].quantity) }}" style="width: 60px;" class="text-center form-control d-inline-block form-control-sm me-1" type="text" value="1"> Kg

                <button class="ms-2 btn btn-primary btn-sm float-end" type="submit">
                    <i class="ci-cart fs-sm me-1"></i>
                    Do košíku
                </button>

                {{ form_end(add_to_cart_forms[product.id]) }}
            </div>
        </div>
    </div>
</div>
