<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Česká Krůta</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="keywords" content="">

        <meta name="turbo-prefetch" content="false">
        <meta name="turbo-refresh-method" content="morph">

        <link rel="apple-touch-icon" sizes="180x180" href="">
        <link rel="icon" type="image/png" sizes="32x32" href="">
        <link rel="icon" type="image/png" sizes="16x16" href="">
        <link rel="mask-icon" color="#fe6a6a" href="">

        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        <header class="shadow-sm fixed-top">
            <div class="topbar topbar-light bg-primary">
                <div class="container text-end justify-content-end">
                    <div class="topbar-text text-nowrap" style="color: #fff;">
                        <span class="d-none d-sm-inline-block"><strong class="me-2">Pondělí - Pátek (7:00 - 15:00):</strong> +420 596 546 672</span>
                        <span class="d-inline-block d-sm-none"><strong class="me-2">Po-Pá (7:00-15:00):</strong> +420 596 546 672</span>
                    </div>
                </div>
            </div>

            <div class="navbar navbar-expand-lg navbar-light bg-light pb-0 pt-1">
                <div class="container">
                    <a class="navbar-brand d-none d-lg-block me-3 flex-shrink-0 p-0" href="{{ path('homepage') }}">
                        <img width="80" src="{{ asset('img/ceska-kruta-logo.svg') }}" alt="Českákrůta.cz"/>
                    </a>
                    <a class="navbar-brand d-lg-none me-2" href="{{ path('homepage') }}">
                        <img width="74" src="{{ asset('img/ceska-kruta-logo.svg') }}" alt="Českákrůta.cz"/>
                    </a>

                    <div class="navbar-toolbar d-flex align-items-center order-lg-3">
                        {% if app.user %}
                            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="{{ path('user_my_account') }}">
                                <div class="navbar-tool-icon-box">
                                    <i class="navbar-tool-icon ci-user"></i>
                                </div>
                                <div class="navbar-tool-text ms-n2">Můj účet<br><small>{{ app.user.email }}</small></div>
                            </a>
                        {% else %}
                            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="{{ path('login') }}">
                                <div class="navbar-tool-icon-box">
                                    <i class="navbar-tool-icon ci-user"></i>
                                </div>
                                <div class="navbar-tool-text ms-n2">Přihlásit se</div>
                            </a>
                        {% endif %}
                        <a class="navbar-tool ms-3" href="{{ path('cart') }}">
                            <div class="navbar-tool-icon-box bg-secondary">
                                <span class="navbar-tool-label">{{ cart.itemsCount }}</span>
                                <i class="navbar-tool-icon ci-cart"></i>
                            </div>
                            <div class="navbar-tool-text"><small>Můj košík</small>{{ cart.totalPrice.amount|price }} Kč</div>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
                        <hr class="d-lg-none my-3">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="{{ path('homepage') }}">Úvod</a></li>
                            <li class="nav-item"><a class="nav-link {{ app.request.pathInfo == path('about_us') ? 'active' }}" href="{{ path('about_us') }}">O nás</a></li>
                            <li class="nav-item"><a class="nav-link {{ app.request.pathInfo == path('products') or app.request.pathInfo == path('products_cold') or app.request.pathInfo == path('products_cold_calendar') ? 'active' }}" href="{{ path('products') }}">Naše nabídka</a></li>
                            <li class="nav-item"><a class="nav-link {{ app.request.pathInfo == path('delivery_info') ? 'active' }}" href="{{ path('delivery_info') }}">Rozvoz</a></li>
                            <li class="nav-item"><a class="nav-link {{ app.request.pathInfo == path('contact') ? 'active' }}" href="{{ path('contact') }}">Kontakty</a></li>
                            <li class="nav-item"><a class="nav-link {{ app.request.pathInfo == path('sales_places') or app.request.pathInfo == path('farms') ? 'active' }}" href="{{ path('sales_places') }}">Naše prodejny</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main>
            {% for label, messages in app.flashes %}
                <div class="container mt-3">
                    {% for message in messages %}
                        <div class="alert-dismissible fade show alert alert-{{ label }}" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% block full_content %}
                <section class="container">
                    {% block content %}{% endblock %}
                </section>
            {% endblock %}
        </main>

        <footer class="bg-secondary">
            <div class="container py-4">
                <a class="p-2" href="{{ path('homepage') }}">Úvod</a>
                <a class="p-2 {{ app.request.pathInfo == path('about_us') ? 'active' }}" href="{{ path('about_us') }}">O nás</a>
                <a class="p-2 {{ app.request.pathInfo == path('products') ? 'active' }}" href="{{ path('products') }}">Naše nabídka</a>
                <a class="p-2 {{ app.request.pathInfo == path('delivery_info') ? 'active' }}" href="{{ path('delivery_info') }}">Rozvoz</a>
                <a class="p-2 {{ app.request.pathInfo == path('contact') ? 'active' }}" href="{{ path('contact') }}">Kontakty</a>
                <a class="p-2 {{ app.request.pathInfo == path('sales_places') ? 'active' }}" href="{{ path('sales_places') }}">Naše prodejny</a>
                <a class="p-2 {{ app.request.pathInfo == path('actuality') ? 'active' }}" href="{{ path('actuality') }}">Aktuality</a>
                <a class="p-2 {{ app.request.pathInfo == path('recipes') ? 'active' }}" href="{{ path('recipes') }}">Recepty</a>
            </div>

            {% set newsletter_form = newsletterForm() %}
            {{ form_start(newsletter_form, {'action': path('subscribe_newsletter') }) }}
                <button type="submit">Uložit</button>
            {{ form_end(newsletter_form) }}
        </footer>
    </body>
</html>
