{% extends 'base.html.twig' %}

{% block title %}Má objednávka{% endblock %}

{% block content %}

    <div class="row">
        <!-- Content-->
        <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 pe-lg-0 ps-xl-5">
                <!-- Header-->
                <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-3">
                    <div class="py-1"><a class="btn btn-outline-accent btn-sm" href="{{ path('products') }}"><i class="ci-arrow-left me-1 ms-n1"></i>Zpět na výběr zboží</a></div>
                    <div class="py-1">
                        <a data-turbo-prefetch="false" href="#" class="btn btn-outline-danger btn-sm"><i class="ci-close fs-xs me-1 ms-n1"></i>Vymazat košík</a>
                    </div>
                </div>

                {% for item in cart.items %}
                    <div class="d-block d-sm-flex align-items-center py-4 border-bottom">
                        <a data-turbo-prefetch="false" href="{{ path('remove_from_cart', {cartItem: loop.index}) }}" class="d-block position-relative mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" style="width: 12.5rem;">
                            <img class="rounded-3" src="{{ asset('img/produkty/' ~ item.product.id ~ '.png') }}" alt="Product">
                            <span class="btn btn-icon btn-danger position-absolute top-0 end-0 py-0 px-1 m-2" data-bs-toggle="tooltip" aria-label="Odstranit z košíku" data-bs-original-title="Odstranit z košíku">
                                <i class="ci-trash"></i>
                            </span>
                        </a>
                        <div class="text-center text-sm-start">
                            <h3 class="h6 product-title mb-2"><a href="#">{{ item.product.title }}</a></h3>
                            <div class="d-inline-block">
                                {% if item.product.type == 3 %}
                                    Hhmotnost: {{ calendar[cart.week['year']][cart.week['week']][item.product.turkeyType].weightFrom }} až {{ calendar[cart.week['year']][cart.week['week']][item.product.turkeyType].weightTo }}kg<br>
                                    {% set piecePrice = (calendar[cart.week['year']][cart.week['week']][item.product.turkeyType].weightFrom + calendar[cart.week['year']][cart.week['week']][item.product.turkeyType].weightTo) / 2 * item.product.price  %}
                                    Orientační cena{% if cart.pickupPlace is null %} od{% endif %}: <strong>{{ piecePrice }} Kč / ks</strong>
                                {% else %}
                                    {{ item.product.price  }} <small>Kč/kg</small>
                                {% endif %}
                            </div>
                            <div class="form-inline pt-2">
                                <input style="width: 60px;" class="text-center form-control d-inline-block form-control-sm me-1" type="text" value="{{ item.quantity }}"> {% if item.product.type == 3 %}ks{% else %}Kg{% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if cart.itemsCount == 0 %}
                    <div class="alert alert-warning d-flex" role="alert">
                        <div class="alert-icon">
                            <i class="ci-security-announcement"></i>
                        </div>
                        <div>Košík je prázdný</div>
                    </div>
                {% endif %}

            </div>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 ps-xl-5">
            <hr class="d-lg-none">
            <div class="p-4 h-100 ms-auto border-start">
                <div class="px-lg-2">
                    <div class="text-center mb-4 py-3 border-bottom">
                        <h2 class="h6 mb-3 pb-1">Orientační cena</h2>
                        <h3 class="fw-normal">{{ cart.totalPrice.amount }} <small>Kč</small></h3>
                    </div>

                    <div class="mb-4 pb-3">
                        {{ form_start(orderForm) }}
                            {{ form_row(orderForm.name) }}
                            {{ form_row(orderForm.email) }}
                            {{ form_row(orderForm.phone) }}
                            {{ form_row(orderForm.note) }}
                            {{ form_row(orderForm.subscribeToNewsletter) }}

                            {% if cart.itemsCount > 0 and cart.date and cart.pickupPlace %}
                                <button class="btn btn-primary btn-shadow d-block w-100 mt-4 btn-lg" type="submit">Rekapitulace</button>
                            {% else %}
                                <button class="btn btn-outline-primary btn-shadow d-block w-100 mt-4" type="submit">Uložit údaje</button>
                            {% endif %}
                        {{ form_end(orderForm) }}
                    </div>
                </div>
            </div>
        </aside>
    </div>

{% endblock %}
