{% extends 'base.html.twig' %}

{% block title %}Výběr data{% endblock %}

{% block content %}
    <section class="choose-date">
        <h1>Výběr data</h1>

        {{ render(controller('CeskaKruta\\Web\\Controller\\OrderProgressPanelController')) }}

        {% if cart.date %}
            <p>
                Vybráno: <strong>{{ cart.date|dayOfWeek }} - {{ cart.date.format('d.m.Y') }}</strong>
            </p>
        {% endif %}

        <div class="list-group">
            {% for available_date in available_days %}
                {% if loop.index < 10 %}
                    <a data-turbo-prefetch="false" href="{{ path('choose_date', {date: available_date.format('Y-m-d')}) }}" class="list-group-item list-group-item-action p-3 {{ cart.date and cart.date.format('Y-m-d') == available_date.format('Y-m-d') ? 'active list-group-item-primary' }}">
                        <div class="d-flex w-100 justify-content-between">
                            {% if cart.date and cart.date.format('Y-m-d') == available_date.format('Y-m-d') %}
                                <h6 class="m-0" style="color: #fff;">{{ available_date|dayOfWeek }} - {{ available_date.format('d.m.Y') }}</h6>
                                <small>Vybráno</small>
                            {% else %}
                                <h6 class="m-0">{{ available_date|dayOfWeek }} - {{ available_date.format('d.m.Y') }}</h6>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        {% if cart.lockedWeek %}
            <div class="alert alert-accent my-3">Vybrali jste si ve váhovém kalendáři {{ cart.lockedWeek.number }}. týden. <a href="{{ path('products_cold_calendar') }}">Vybrat jiný</a></div>
        {% else %}
            <p class="my-3">
                <a href="#" class="btn btn-primary btn-sm"><i class="ci-calendar me-1"></i> Vybrat z kalendáře</a>
            </p>
        {% endif %}

        <p class="text-center mt-3">
            {% if cart.date %}
                <a class="btn btn-primary" href="{{ path('cart') }}">Dokončit nákup</a>
            {% endif %}
        </p>
    </section>
{% endblock %}
