{% extends 'base.html.twig' %}

{% block title %}Osobní odběr{% endblock %}

{% block content %}
    <section class="order-pickup-places">
        <h1>Osobní odběr</h1>

        {{ render(controller('CeskaKruta\\Web\\Controller\\OrderProgressPanelController')) }}

        <div class="row">
            <div class="col-md-3 sales-places-nav pe-0">
                <ul class="list-unstyled">
                    <li>
                        <a class="active" href="{{ path('order_pickup_places') }}">
                            Osobní odběr
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('order_delivery') }}">
                            Rozvoz
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 ps-5">
                <div class="row">
                    {% for place in places %}
                        <div class="col-md-4 mb-4">
                            <div class="card {{ cart.pickupPlace == place.id ? 'border-primary' }}">
                                <div class="card-body text-center">
                                    <strong>{{ place.name }}</strong><br>

                                    {% if cart.pickupPlace == place.id %}
                                        <a data-turbo-prefetch="false" class="mt-2 btn btn-sm btn-primary" href="{{ path('choose_order_pickup_place', {placeId: place.id}) }}">Vybráno</a>
                                    {% else %}
                                        <a data-turbo-prefetch="false" class="mt-2 btn btn-sm btn-outline-primary" href="{{ path('choose_order_pickup_place', {placeId: place.id}) }}">Zvolit</a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <p class="text-center mt-3">
            <a class="btn btn-outline-primary" href="{{ path('products') }}">Pokračovat v nákupu</a>
            {% if cart.pickupPlace or cart.deliveryAddress %}
                {% if cart.date %}
                    <a class="btn btn-primary" href="{{ path('cart') }}">Dokončit objednávku</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('order_available_dates') }}">Další krok: zvolit datum</a>
                {% endif %}
            {% endif %}
        </p>
    </section>
{% endblock %}
