{% extends 'base.html.twig' %}

{% block title %}Má objednávka{% endblock %}

{% block content %}
    <section class="content-section">

        {{ include('_order_progress_bar.html.twig') }}

        {% if not cart.minimalPriceMet %}
            <div class="alert alert-warning fs-sm">
                Minimální hodnota objednávky pro rozvoz je {{ cart.minimalPrice|price|raw }}&nbsp;Kč. Abyste mohli pokračovat k dokončení objednávky, prosím přidejte si ještě něco do košíku nebo zvolte osobní odběr.
            </div>
        {% endif %}

        {% if cart.itemsCount == 0 %}
            <div class="alert alert-primary d-flex" role="alert">
                <div class="alert-icon">
                    <i class="ci-security-announcement"></i>
                </div>
                <div>Váš košík je prázdný. Vyberte si něco <a class="alert-link" href="{{ path('products') }}">z naší nabídky</a>.</div>
            </div>
        {% endif %}

        <twig:OrderForm />

        <div class="text-center mt-3">
            <a class="btn btn-outline-secondary m-1" href="{{ path('order_available_dates') }}"><i class="ci-arrow-left me1"></i> Zpět na výběr data</a>
            <br>
            <a href="{{ path('products') }}" class="d-inline-block mt-3 fs-sm text-muted">Zpět na výběr zboží</a>
        </div>

    </section>
{% endblock %}
