{% extends 'base.html.twig' %}

{% block title %}Chlazené krůty a krocani{% endblock %}

{% block content %}
    <section class="products-list">
        <h1>Chlazené krůty a krocani</h1>

        {{ render(controller('CeskaKruta\\Web\\Controller\\OrderProgressPanelController')) }}

        <div class="row">
            <div class="col-3 sales-places-nav pe-0">
                <ul class="list-unstyled">
                    <li>
                        <a class="active" href="{{ path('products_cold') }}">
                            Chlazené krůty a krocani
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('products') }}">
                            Maso a uzeniny
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-9 ps-5">
                <div class="alert alert-warning d-flex" role="alert">
                    <div class="alert-icon">
                        <i class="ci-security-announcement"></i>
                    </div>
                    <div>Zobrazené ceny se upřesní po výběru místa ...</div>
                </div>

                <div class="row">
                    {% for i in [1, 2, 3, 4] %}
                        <div class="col-4 my-3">
                            <div class="card">
                                <a class="card-img-top d-block text-center overflow-hidden" href="#">
                                    <img src="{{ asset('img/product-2.png') }}" alt="Product">
                                </a>
                                <div class="card-body py-2">
                                    <h3 class="product-title fs-base">{{ i == 1 ? 'Krůta celá' : i == 2 ? 'Krocan celý' : i == 3 ? 'Porcovaná celá krůta' : 'Porcovaný krocan' }}</h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price">
                                            Hhmotnost: <strong>4,5 až 5kg</strong><br>
                                            Cena od: <strong>500 Kč / ks</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="mb-2">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="checkbox" id="ex-check-{{ i }}">
                                            <label class="form-check-label" for="ex-check-{{ i }}">Chci jen půlku</label>
                                        </div>

                                        <input style="width: 60px;" class="text-center form-control d-inline-block form-control-sm me-1" type="text" value="1"> Ks

                                        <button class="ms-2 btn btn-primary btn-sm float-end" type="button">
                                            <i class="ci-cart fs-sm me-1"></i>
                                            Do košíku
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-4 my-3">
                        <a href="{{ path('products_cold_calendar') }}">
                            <div class="card text-center">
                                <span class="my-3 card-img-top d-block text-center overflow-hidden" href="#">
                                    <img src="{{ asset('img/turkey-icon.svg') }}" alt="Product">
                                </span>
                                <div class="card-body py-2">
                                    <h3 class="product-title h4">Jiná váha</h3>
                                    <p class="mb-2 mt-3 text-dark">Vyberte si jinou váhu podle kalendáře růstu</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <p class="text-center mt-3">
                        <a class="btn btn-primary" href="{{ path('cart') }}">Pokračovat do košíku</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
