{% extends 'base.html.twig' %}

{% block title %}Chlazené krůty a krocani{% endblock %}

{% block content %}
    <section class="products-list">
        <h1>Chlazené krůty a krocani</h1>

        {{ render(controller('CeskaKruta\\Web\\Controller\\OrderProgressPanelController')) }}

        <div class="row">
            <div class="col-3 sales-places-nav pe-0">
                <ul class="list-unstyled">
                    <li>
                        <a class="active" href="{{ path('products_cold') }}">
                            Chlazené krůty a krocani
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('products') }}">
                            Maso a uzeniny
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-9 ps-5">

                <div class="alert alert-accent d-flex" role="alert">
                    <div class="alert-icon">
                        <i class="ci-security-announcement"></i>
                    </div>
                    <div class="small">Krůty a krocany prodávám vždy ve váze tak, jak nám dorůstají. Uvedené váhy jsou pro aktuální nabídku/vámi vybraný termín. Pokud vám nevyhovují váhy, vyberte si podle potřeby z <a href="{{ path('products_cold_calendar') }}">váhového kalendáře</a>.</div>
                </div>


                {% if cart.pickupPlace is null %}
                    <div class="alert alert-warning d-flex" role="alert">
                        <div class="alert-icon">
                            <i class="ci-security-announcement"></i>
                        </div>
                        <div>Zobrazené ceny se upřesní po výběru místa ...</div>
                    </div>
                {% endif %}

                <div class="row">
                    {% for product in products %}
                        {% if calendar[current_year][current_week][product.turkeyType] is defined %}
                            {{ include('_product_item.html.twig') }}
                        {% endif %}
                    {% endfor %}

                    <div class="col-4 my-3">
                        <a href="{{ path('products_cold_calendar') }}">
                            <div class="card text-center">
                                <span class="my-3 card-img-top d-block text-center overflow-hidden" href="#">
                                    <img src="{{ asset('img/turkey-icon.svg') }}" alt="Product">
                                </span>
                                <div class="card-body py-2">
                                    <h3 class="product-title h4">Jiná váha</h3>
                                    <p class="mb-2 mt-3 text-dark">Vyberte si jinou váhu podle kalendáře růstu</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <p class="text-center mt-3">
                        <a class="btn btn-primary" href="{{ path('cart') }}">Pokračovat do košíku</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
