{% extends 'base.html.twig' %}

{% block title %}Chlazené krůty a krocani{% endblock %}

{% block content %}
    <section class="products-calendar">
        <h1>Chlazené krůty a krocani</h1>

        {{ render(controller('CeskaKruta\\Web\\Controller\\OrderProgressPanelController')) }}

        {% if cart.pickupPlace is null %}
            <div class="alert alert-warning d-flex" role="alert">
                <div class="alert-icon">
                    <i class="ci-security-announcement"></i>
                </div>
                <div>Zobrazené ceny se upřesní po výběru místa ...</div>
            </div>
        {% endif %}

        <h2 class="h4 mt-4">Aktuální váhy pro tento týden</h2>

        <div class="row calendar-row mb-3">
            <div class="col-3 pe-0">
                <span class="ribbon">
                    <strong>{{ current_week }}. týden:</strong> {{ firstDayOfWeek(current_year, current_week).format('d.m.') }} - {{ lastDayOfWeek(current_year, current_week).format('d.m.') }}
                </span>
            </div>

            <div class="col-9 ps-0">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {% for product in products %}
                                {% if product.type == 3 and calendar[current_year][current_week][product.turkeyType] is defined %}
                                    {{ include('_cold_calendar_product_item.html.twig', {
                                        week: current_week,
                                        year: current_year,
                                    }) }}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h2 class="h4 mt-4">Váhový kalendář pro další týdny</h2>

        <div class="alert alert-warning d-flex" role="alert">
            <div class="alert-icon">
                <i class="ci-security-announcement"></i>
            </div>
            <div>Výběrem konkrétní váhy se vám omezí datum objednávky na vámi zvolený týden</div>
        </div>

        {% for year, weeks in calendar %}
            {% for week, types in weeks %}
                {% if calendar[year][week] is defined and (current_week != week or current_year != year) %}
                    <div class="row calendar-row mb-3">
                        <div class="col-3 pe-0">
                            <span class="ribbon">
                                <strong>{{ week }}. týden:</strong> {{ firstDayOfWeek(year, week).format('d.m.') }} - {{ lastDayOfWeek(year, week).format('d.m.') }}
                            </span>
                        </div>

                        <div class="col-9 ps-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    {% for product in products %}
                                        {% if product.type == 3 and calendar[year][week][product.turkeyType] is defined %}
                                            {{ include('_cold_calendar_product_item.html.twig') }}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}


    </section>

{% endblock %}
