{% extends 'base.html.twig' %}

{% block title %}Naše nabídka{% endblock %}

{% block content %}
    <section class="products-list">

        <h1>Maso a uzeniny</h1>

        {{ render(controller('CeskaKruta\\Web\\Controller\\OrderProgressPanelController')) }}

        <div class="row">
            <div class="col-3 sales-places-nav pe-0">
                <ul class="list-unstyled">
                    <li>
                        <a class="active" href="{{ path('products') }}">
                            Maso a uzeniny
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('products_cold') }}">
                            Chlazené krůty a krocani
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-9 ps-5">

                {% if cart.pickupPlace is null %}
                    <div class="alert alert-warning d-flex" role="alert">
                        <div class="alert-icon">
                            <i class="ci-security-announcement"></i>
                        </div>
                        <div>Zobrazené ceny se upřesní po výběru místa ...</div>
                    </div>
                {% endif %}

                <div class="row">
                    {% for product in products %}
                        {% if not product.turkeyType %}
                            {{ include('_product_item.html.twig') }}
                        {% endif %}
                    {% endfor %}

                    {% for product in products %}
                        {% if product.turkeyType %}
                            {{ include('_product_item.html.twig') }}
                        {% endif %}
                    {% endfor %}
                </div>

                <p class="text-center mt-3">
                    {# TODO: podle kontextu link na misto/datum/kosik #}
                    <a class="btn btn-primary" href="{{ path('cart') }}">Pokračovat do košíku</a>
                </p>
            </div>
        </div>

    </section>

{% endblock %}
