{% extends 'base.html.twig' %}

{% block title %}Chlazené krůty a krocani{% endblock %}

{% block content %}
    <section class="products-calendar">
        <h1>Chlazené krůty a krocani</h1>

        {{ render(controller('CeskaKruta\\Web\\Controller\\OrderProgressPanelController')) }}

        <div class="row">
            <div class="col-md-3 sales-places-nav pe-0">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('products') }}">
                            Maso a uzeniny
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('products_cold') }}">
                            Chlazené krůty a krocani
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                    <li>
                        <a class="active" href="{{ path('products_cold_calendar') }}">
                            Váhový kalendář
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 ps-md-5">
                {% if cart.place is null %}
                    <div class="alert alert-warning d-flex" role="alert">
                        <div class="alert-icon">
                            <i class="ci-security-announcement"></i>
                        </div>
                        <div>Zobrazené ceny se upřesní po výběru místa ...</div>
                    </div>
                {% endif %}

                <h2 class="h4 mt-4">Aktuální váhy pro tento týden</h2>

                <div class="row calendar-row mb-3">
                    <div class="col-md-3 pe-0">
                <span class="ribbon">
                    <strong>{{ current_week }}. týden</strong><br>{{ firstDayOfWeek(current_year, current_week).format('d.m.') }} - {{ lastDayOfWeek(current_year, current_week).format('d.m.') }}
                </span>
                    </div>

                    <div class="col-md-9 ps-0">
                        <div class="table-responsive shadow">
                            <table class="table">
                                <tbody>
                                {% for product in products %}
                                    {% if calendar[current_year][current_week][product.turkeyType] is defined %}
                                        {{ include('_cold_calendar_product_item.html.twig', {
                                            week: current_week,
                                            year: current_year,
                                        }) }}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h2 class="h4 mt-4">Váhový kalendář pro další týdny</h2>

                <div class="alert alert-warning d-flex" role="alert">
                    <div class="alert-icon">
                        <i class="ci-security-announcement"></i>
                    </div>
                    <div>Výběrem konkrétní váhy se vám omezí datum objednávky na vámi zvolený týden</div>
                </div>

                {% for year, weeks in calendar %}
                    {% for week, types in weeks %}
                        {% if calendar[year][week] is defined and (current_week != week or current_year != year) %}
                            <div class="row calendar-row mb-3">
                                <div class="col-md-3 pe-0">
                                    <span class="ribbon {{ cart.week.number == week ? 'active' }}">
                                        <strong>{{ week }}. týden</strong><br>{{ firstDayOfWeek(year, week).format('d.m.') }} - {{ lastDayOfWeek(year, week).format('d.m.') }}
                                    </span>
                                </div>

                                <div class="col-md-9 ps-0">
                                    <div class="table-responsive shadow">
                                        <table class="table">
                                            <tbody>
                                            {% for product in products %}
                                                {% if calendar[year][week][product.turkeyType] is defined %}
                                                    {{ include('_cold_calendar_product_item.html.twig') }}
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

    </section>

{% endblock %}
