{% extends 'base.html.twig' %}

{% block title %}Prodejní místa{% endblock %}

{% block content %}
    <section class="sales-places content-section">
        <div class="row">
            <div class="col-md-3 sales-places-nav pe-md-0">
                <ul class="list-unstyled">
                    <li>
                        <a class="active" href="{{ path('sales_places') }}">
                            <i class="sales-places-icon-1"></i>
                            Naše prodejny
                            <i class="ci-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('farms') }}">
                            <i class="sales-places-icon-2"></i>
                            Naše farmy
                            <i class="ci-arrow-down"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="places-col col-md-9 ps-md-4 ps-lg-5">
                <h1 class="d-none d-md-block">Naše prodejny</h1>

                {% for place in places %}
                    <h2 class="h3 my-3 {{ loop.first ? 'mt-md-5' : 'mt-5' }}">{{ place.name|placeName|raw }}</h2>

                    <div class="card shadow">
                        <div class="card-body row-place-item row d-flex text-center">
                            <div class="col-sm">
                                <i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                                <p>
                                    <strong>{{ place.address1 }}</strong><br>
                                    <span class="text-muted">{{ place.address2 }}</span><br>
                                    <small class="text-muted">{{ place.address3 }}</small><br>
                                    {% if place.mapUrl %}<a href="{{ place.mapUrl }}">Mapa</a>{% endif %}
                                </p>
                            </div>

                            <div class="col-sm">
                                <i class="ci-phone fs-lg mt-2 mb-0 text-primary"></i>
                                <p>
                                    <strong>Zavolejte nám</strong><br>
                                    <span class="text-muted">{{ place.phone }}</span><br>
                                </p>
                            </div>

                            <div class="col-sm">
                                <i class="ci-mail fs-lg mt-2 mb-0 text-primary"></i>

                                <p>
                                    <strong>Otevírací doba</strong><br>
                                    <span class="text-muted">{{ place.openingHours }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
