{% extends 'base.html.twig' %}

{% block title %}Děkujeme za objednávku{% endblock %}

{% block content %}
    <section class="content-section">
        <div class="card shadow py-3 mt-sm-3 mx-auto" style="max-width: 800px;">
            <div class="card-body text-center">
                <h1 class="h3 pb-3">Děkujeme za objednávku!</h1>

                <p class="fs-sm mb-2">
                    {% if last_order %}
                        Vaše objednávka dostala <strong>číslo {{ last_order.id }}</strong>.<br>
                    {% endif %}
                    Rekapitulaci jsme Vám poslali na e-mail.
                </p>

                {% if last_order %}
                    {% set place = places[last_order.placeId] %}
                    <p class="fs-ms mb-2">
                        {% if place.isDelivery %}
                            {% if place.isOwnDelivery %}
                                Den před dodávkou odpoledne Vám zašleme SMS ohledně času doručení.
                            {% else %}
                                Den před dodávkou odpoledne Vám přepravce zašle SMS ohledně času doručení. V případě jakýchkoliv dotazů v den doručení kontaktujte prosím v době od 8:00 do 18:30 přepravce na telefonním čísle: 773 827 035.
                            {% endif %}
                        {% else %}
                            Zboží bude na vybrané prodejně připraveno ve Vámi vybraném termínu hned od začátku prodejní doby.
                        {% endif %}
                    </p>
                {% endif %}

                <a class="btn btn-outline-primary mt-3 me-3" href="{{ path('products') }}">Zpět k naší nabídce</a>
            </div>
        </div>
    </section>



    {% if last_order %}
        <script>
            fbq('track', 'Purchase', { value: {{ last_order.priceTotal }}, currency: 'CZK' });
        </script>

        <script>
            gtag('event', 'purchase', {
                transaction_id: {{ last_order.id }},
                value: {{ last_order.priceTotal }},
                currency: 'CZK'
            });
        </script>
    {% endif %}

{% endblock %}
