{% extends 'base.html.twig' %}

{% block title %}Velkoobchod{% endblock %}

{% block content %}
    <section class="content-section">
        <h1>Velkoobchod</h1>

        {{ include('_my_account_panel.html.twig') }}

        {#}
        <a class="btn btn-sm btn-outline-primary" href="#"><i class="ci ci-compare"></i> Zopakovat objednávku z minula</a>

        <a class="btn btn-sm btn-outline-secondary" href="#">Jednorázová objednávka</a>
        #}

        <div class="calendars-picking mt-2">
            <div class="shadow p-1 d-inline-block">
                {% for day_number, day_name in days_short %}
                        {% if day_number < 6 %}
                            <a class="p-3 d-inline-block" href="{{ path('user_recurring_order', {'day': day_number}) }}" {% if day == day_number %}style="border: 1px solid red;"{% endif %}>
                                {{ day_name }}
                                {% if orders_by_day[day_number] ?? false %}
                                    <i class="ci-check"></i>
                                {% endif %}
                            </a>
                        {% else %}
                            <span class="text-muted d-inline-block p-3">{{ day_name }}</span>
                        {% endif %}
                {% endfor %}
            </div>
        </div>

        {% if day %}
            {% if orders_by_day[day] ?? false %}
                <a class="btn btn-sm btn-outline-primary" href="{{ path('user_cancel_recurring_order', {'day': day}) }}"><i class="ci ci-close-circle"></i> Zrušit pravidelné objednávání na {{ days[day] }}</a><br>
            {% else %}
                <p class="text-muted my-2">Na tento den nemáte žádnou pravidelnou objednávku</p>
            {% endif %}

            <form method="post" action="{{ path('user_recurring_order', {'day': day}) }}">

                <div class="card my-3">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="wholesable-table table m-0">
                                {% for product in products %}
                                    <tr>
                                        <td style="width: 80px;" class="p-1">
                                            {% if asset_exists('img/produkty/' ~ product.id ~ '.png') %}
                                                <img src="{{ asset('img/produkty/' ~ product.id ~ '.png') }}" style="max-height: 50px;" alt="Product">
                                            {% else %}
                                                <img src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                                            {% endif %}
                                        </td>
                                        <td>{{ product.title }}</td>

                                        <td class="text-end small">
                                            {% for size_key, size_name in package_sizes[product.id] ?? [] %}
                                                {{ size_name }}: <input
                                                    type="text"
                                                    name="item[{{ product.id }}][amount][{{ size_key }}]"
                                                    class="form-control form-control-sm text-center"
                                                    value="{{ orders_by_day[day].itemForProduct(product.id).packageSizeAmount(size_key) ?? 0 }}"
                                                    style="width:40px"
                                                > balíčků<br>
                                           {% endfor %}

                                            Celkem: <span class="total-kg">0 kg</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Uložit pravidelnou objednávku</button>

                {% if day and (orders_by_day[day] ?? false) %}
                    <a class="ms-2 btn btn-sm btn-outline-primary" href="{{ path('user_cancel_recurring_order', {'day': day}) }}"><i class="ci ci-close-circle"></i> Zrušit pravidelné objednávání na čt</a><br>
                {% endif %}
            </form>
        {% else %}
            <p class="text-muted">Vyberte si den pro pravidelné objednávání.</p>

            {% if orders_by_day|length > 0 %}
                <p>Aktuálně nastavené pravidelné objednávky:</p>

                {% for recurring_order_day, recurring_order in orders_by_day %}
                    <a href="{{ path('user_recurring_order', {'day': recurring_order}) }}">{{ days[recurring_order_day] }}</a><br>
                {% endfor %}
            {% endif %}
        {% endif %}

    </section>

{% endblock %}
