{% extends 'base.html.twig' %}

{% block title %}Můj účet{% endblock %}

{% block content %}
    <section class="content-section">
        <h1>Můj účet</h1>

       {{ include('_my_account_panel.html.twig') }}

        <div class="shadow p-3 my-3">
            <a class="btn btn-sm btn-primary" href="{{ path('edit_user_info') }}">Upravit údaje</a>
            <a class="btn btn-sm btn-outline-primary" href="{{ path('change_user_password') }}"><i class="ci-locked"></i>  Změnit heslo</a>

            <table class="table">
                <tr>
                    <th style="max-width: 100px;">Jméno:</th>
                    <td>{{ app.user.name }}</td>
                </tr>
                <tr>
                    <th style="max-width: 100px;">E-mail:</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th style="max-width: 100px;">Telefon:</th>
                    <td>{{ app.user.phone }}</td>
                </tr>
                <tr>
                    <th style="max-width: 100px;">Doručovací adresa:</th>
                    <td>
                        {{ app.user.deliveryStreet }}, {{ app.user.deliveryCity }} {{ app.user.deliveryZip }}
                    </td>
                </tr>
                <tr>
                    <th style="max-width: 100px;">Fakturovat na společnost:</th>
                    <td>
                        {% if app.user.companyInvoicing %}
                            {{ app.user.companyName }} ({{ app.user.companyId }})<br>
                            {{ app.user.invoicingStreet }}, {{ app.user.invoicingCity }} {{ app.user.invoicingZip }}
                        {% else %}
                            <small class="text-muted">Ne</small>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </section>

{% endblock %}
