{% extends 'base.html.twig' %}

{% block title %}Historie objednávek{% endblock %}

{% block content %}
    <section class="content-section">
        <h1>Historie objednávek</h1>

        {{ include('_my_account_panel.html.twig') }}

        {% for order in orders %}
            <div class="shadow my-3 p-3 d-sm-flex justify-content-between">
                <div>
                    <a href="{{ path('user_my_order_detail', {'orderId': order.id}) }}">Číslo: {{ order.id }}</a><br>
                    {{ order.orderedAt.format('d.m.Y H:i') }}
                </div>
                <div>
                    <strong>Objednáno na:</strong> {{ order.date.format('d.m.Y') }}<br>
                </div>
                <div>
                    {% if order.coupon and order.coupon.percentValue %}
                        <small>Sleva -{{ order.coupon.percentValue }}%</small><br>
                    {% endif %}
                    <strong>Cena:</strong> {{ order.priceTotal }} Kč
                </div>
                <div>
                    <a class="btn btn-sm btn-outline-primary mt-2 mt-sm-0 me-2" href="{{ path('user_my_order_detail', {'orderId': order.id}) }}">Detail</a>
                    <form method="post" action="{{ path('user_repeat_order', {'orderId': order.id}) }}" style="display: inline;">
                        <button type="submit" class="btn btn-sm btn-outline-secondary mt-2 mt-sm-0">Zopakovat objednávku</button>
                    </form>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock %}
