{% extends 'base.html.twig' %}

{% block title %}Můj účet{% endblock %}

{% block content %}

   <ul>
       <li><a href="{{ path('user_my_orders') }}">Objednávky</a></li>
       <li><a href="{{ path('logout') }}">Odhlásit se</a></li>
   </ul>

    <p>
        Jméno: {{ app.user.name }}<br>
        E-mail: {{ app.user.email }}<br>
        Telefon: {{ app.user.phone }}<br>
        Doručovací adresa: {{ app.user.deliveryStreet }}, {{ app.user.deliveryCity }} {{ app.user.deliveryZip }}<br>
        Fakturovat na společnost: {{ app.user.companyInvoicing }} {{ app.user.companyName }} ({{ app.user.companyId }}): {{ app.user.invoicingStreet }}, {{ app.user.invoicingCity }} {{ app.user.invoicingZip }}<br>
    </p>
    <a href="{{ path('edit_user_info') }}">Upravit údaje</a>

{% endblock %}
