{% extends 'base.html.twig' %}

{% block title %}Objednávka č. {{ order.id }}{% endblock %}

{% block content %}
    <section class="content-section">
        <h1>Objednávka č. {{ order.id }}</h1>

        {{ include('_my_account_panel.html.twig') }}

        <div class="shadow mt-3 p-3 d-sm-flex justify-content-between">
            <div>
                <span class="text-primary">Číslo: {{ order.id }}</span><br>
                {{ order.date.format('d.m.Y') }}
            </div>

            <div>
                Objednáno: {{ order.orderedAt.format('d.m.Y H:i') }}<br>
                Doprava: {{ places[order.placeId].name }}<br>
                {{ order.email }}<br>
                {{ order.phone }}<br>
                {{ order.deliveryStreet }}<br>
                {{ order.deliveryCity }}<br>
                {{ order.deliveryPostalCode }}
            </div>

            <div>
                {{ order.payByCard }}<br>
                {% if order.coupon and order.coupon.percentValue %}
                    <small>
                        Sleva -{{ order.coupon.percentValue }}%<br>
                        Kód: {{ order.coupon.code }}
                    </small><br>
                {% endif %}
                Cena: {{ order.priceTotal }} Kč<br>
                {{ order.note }}
            </div>
        </div>

        <div class="mb-3">
            {% for order_item in order_items %}
                {% set product = products[order_item.productId] %}
                <div class="shadow mx-sm-4 p-3 d-sm-flex justify-content-between">
                    <div style="max-width: 60px;">
                        {% if asset_exists('img/produkty/' ~ product.id ~ '.jpg') %}
                            <img class="rounded-3" src="{{ asset('img/produkty/' ~ product.id ~ '.jpg') }}" alt="Product">
                        {% else %}
                            <img class="rounded-3" src="{{ asset('img/placeholder.jpg') }}" alt="Product">
                        {% endif %}
                    </div>

                    <div style="min-width: 50%;">
                        <strong>{{ product.title }}</strong>
                        {% if order_item.note %}
                            <br><small class="text-muted">Poznámka: {{ order_item.note }}</small>
                        {% endif %}
                    </div>

                    <div style="width: 140px;">
                        {% if product.isTurkey %}
                            {{ order_item.amount }} ks<br>
                            {{ order_item.pricePerUnit }} Kč/ks<br>
                            Váha od: {{ order_item.weightFrom }} kg<br>
                            Váha do: {{ order_item.weightTo }} kg
                        {% else %}
                            {{ order_item.amount }} {{ product.unit }}<br>
                            {{ order_item.pricePerUnit }} Kč/{{ product.unit }}
                        {% endif %}
                    </div>

                    <div style="width: 90px;" class="text-sm-end">
                        {{ order_item.priceTotal }} Kč
                        {% if order_item.isPacked %}
                            <br><small class="text-muted">+{{ order_item.pricePacking}} Kč balení</small>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}
