{% extends 'base.html.twig' %}

{% block title %}Mé objednávky{% endblock %}

{% block content %}
    <h1>Mé objednávky</h1>

    <ul>
        <li><a href="{{ path('user_my_account') }}">Můj účet</a></li>
        <li><a href="{{ path('logout') }}">Odhlásit se</a></li>
    </ul>

    {% for order in orders %}
        <p>
            Číslo: {{ order.id }}<br>
            Objednáno na: {{ order.date.format('d.m.Y') }}<br>
            Objednáno: {{ order.orderedAt.format('d.m.Y H:i') }}<br>
            Cena: {{ order.priceTotal }} Kč<br>
            <a href="{{ path('user_my_order_detail', {'orderId': order.id}) }}">Detail</a>
        </p>
    {% endfor %}

{% endblock %}
