<div {{ attributes }}>
    <div class="card shadow mx-auto my-3" style="max-width: 600px;">
        <div class="card-body">
            {{ form_start(form, {
                attr: {
                    'data-action': 'live#action:prevent',
                    'data-live-action-param': 'handleSubmit',
                }
            }) }}

            <div class="form-floating">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Jméno a příjmení'}}) }}
                {{ form_label(form.name, 'Jméno a příjmení', {'label_attr': {'for': 'fl-text'}}) }}
            </div>
            {{ form_errors(form.name) }}

            <div class="form-floating mt-2">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
                {{ form_label(form.email, 'E-mail', {'label_attr': {'for': 'fl-text'}}) }}
            </div>
            {{ form_errors(form.email) }}

            <div class="form-floating mt-2">
                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Telefon'}}) }}
                {{ form_label(form.phone, 'Telefon', {'label_attr': {'for': 'fl-text'}}) }}
            </div>
            {{ form_errors(form.phone) }}

            <div class="form-floating mt-2 mb-3">
                {{ form_widget(form.note, {'attr': {'class': 'form-control', 'placeholder': 'Poznámka', 'style': 'height: 80px;'}}) }}
                {{ form_label(form.note, 'Poznámka', {'label_attr': {'for': 'fl-text'}}) }}
            </div>

            {{ form_row(form.termsAgreement, {
                'label': 'Souhlasím s <a href="' ~ path('trade_terms') ~ '" target="_blank">obchodními podmínkami</a> a se zpracováním <a href="' ~ path('gdpr') ~ '" target="_blank">osobních údajů</a> pro účely objednávky',
                'label_html': true
            }) }}
            {{ form_errors(form.termsAgreement) }}

            {{ form_row(form.payByCard) }}
            {{ form_row(form.subscribeToNewsletter) }}

            {% if cart.itemsCount > 0 and cart.date and cart.place %}
                {% if cart.minimalPriceMet %}
                    <button class="btn btn-primary btn-shadow d-block w-100 mt-4 btn-lg" type="submit">Rekapitulace</button>
                {% else %}
                    <small class="text-primary">Pro dokončení objednávky není splněna minimální potřebná hodnota objednávky.</small>

                    <button class="btn btn-outline-primary btn-shadow d-block w-100 mt-4" type="submit">Uložit údaje</button>
                {% endif %}
            {% else %}
                <button class="btn btn-outline-primary btn-shadow d-block w-100 mt-4" type="submit">Uložit údaje</button>
            {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
</div>
